@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif, monospace;
}

body{
    background-color: #DCDCDC;
    color: #0A1612;
    font-size: 30px;
    text-align: center;
}

#initial{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initial img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#initial p, h3{
    margin-top: 30px;
}

#icones{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
}

#icones img{
    width:60px; 
    height:60px;
    margin: 0 40px;
}

#icones img a{
    text-decoration: none;
}

#icones a:hover{
    opacity: 0.5;
}

#about{
    max-width: 100%;
    height: 600px;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

#about h3{
    margin-bottom: 20px;
}

#about p{
    line-height: 45px;
}
