.section {
    height: 100vh;
    padding: 20px
}

body {
    color: white; 
    background: gray; font-size: 30px;
    overflow: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

header {
    font-size: 30px;
    font-family: 'FreeMono, monospace';
    text-align: center;
}